.project-box {
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem  rgba(182, 181, 181, 0.604);
}

.line-1 {
    width: 100px;
    height: 8px;
}

.line-2 {
    width: auto;
    height: 1px;
}

.a-link {
    padding-right: 0.3rem;
}