.line-1 {
    width: 100px;
    height: 8px;
}

.hide {
    display: none;
}

.icon {
    font-size: 1.8rem;
    color: #000;
}

.contact-box {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgb(84, 84, 84);
    width: 90%;
    height: auto;
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#cancel-btn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem 0 1rem;
}

.fa-envelope, .fa-times {
    color: #000;
}

.project-box {
    padding: 1rem;
    box-shadow: 0rem 0rem 5px  rgb(182, 181, 181);
}

.a-link {
    padding-right: 0.3rem;
}

.change-background-dark {
    background-color: #000;
}

.change-line-dark {
    background-color: #fff;
}

.change-line-light {
    background-color: #000;
}

.change-background-box-shadow-dark{
    box-shadow: 0 0 5px 3px rgba(225,225,225,0.1);
}

.change-text-dark {
    color: #fff;
}

.change-button-dark {
    background: none;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    border-radius: .5rem;
    padding: .4rem 1rem;
}
.change-button-dark:hover {
    background: #fff;
    color: #000;
}

.change-button-light {
    background: none;
    color: #000;
    outline: none;
    border: 1px solid #000;
    border-radius: .5rem;
    padding: .4rem 1rem;
}

.change-button-light:hover {
    background: #000;
    color: #fff;
}

.theme-changer {
    position: fixed;
    font-size: 2rem;
    bottom: 2rem;
    right: 1.5rem;
    cursor: pointer;
    color: #fff;
    background: #000;
    border-radius: 7px;
    height: 60px;
    width: 60px;
    z-index: 9;
}

.theme-changer-dark {
    background: #fff;
    color: #000;
}

.theme-changer i {
    font-size: 2rem;
}
